@model Fiap08.Web.MVC.ViewModels.DependenteViewModel

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar Dependente</h2>

@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(d => d.Dependente.Nome)
        @Html.TextBoxFor(d => d.Dependente.Nome, new { @class = "form-control", placeholder = "Digite o nome do dependente" })
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Dependente.DataNascimento)
        @Html.TextBoxFor(d => d.Dependente.DataNascimento, new { @class = "form-control", placeholder = "dd/mm/yyyy" })
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Dependente.Responsavel)
        @Html.DropDownListFor(d => d.Dependente.ResponsavelId,
            Model.Responsaveis as SelectList,
            "Selecione",
            new {@class = "form-control" })
    </div>


    <input type="submit" value="Cadastrar" class="btn btn-primary" />

}