@model Fiap08.Web.MVC.ViewModels.ResponsavelViewModel

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@if (TempData["msgErro"] != null)
{
    <div class="alert alert-danger">
        <strong>@TempData["msgErro"]</strong>
    </div>
}

@if (TempData["msgSucesso"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["msgSucesso"]</strong>
    </div>
}


@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(r => r.Responsavel.Nome)
        @Html.TextBoxFor(r => r.Responsavel.Nome, new { @class = "form-control", placeholder = "Nome do responsável" })
    </div>

    <div class="form-group">
        @Html.LabelFor(r => r.Responsavel.Telefone)
        @Html.TextBoxFor(r => r.Responsavel.Telefone, new { @class = "form-control", placeholder = "Digite o telefone" })
    </div>

    <input type="submit" class="btn btn-primary" value="Cadastrar" />

}

<table class="table table-hover">

    <thead>
        <tr>
            <td>Nome</td>
            <td>Telefone</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var resp in Model.Responsaveis)
        {
            <tr>
                <td>@resp.Nome</td>
                <td>@resp.Telefone</td>
            </tr>
        }
    </tbody>

</table>