@model JogosOnline.ViewModels.JogoViewModel

@{
    ViewBag.Title = "Atualizar Jogo";
}

<h2>Atualizar Jogo</h2>

@using (Html.BeginForm())
{

    @Html.HiddenFor(j => j.Jogo.JogoId)

    <div class="form-group">
        @Html.LabelFor(j => j.Jogo.Nome)
        @Html.TextBoxFor(j => j.Jogo.Nome, new {@class = "form-control", placeholder = "Nome do jogo"})
    </div>

    <div class="form-group">
        @Html.LabelFor(j => j.Jogo.DataLancamento)
        @Html.TextBoxFor(j => j.Jogo.DataLancamento, new {@class = "form-control", placeholder = "dd/mm/yyyy" })
    </div>

    <div class="form-group">
        @Html.LabelFor(j => j.Jogo.Plataforma)
        @Html.EnumDropDownListFor(j => j.Jogo.Plataforma, "Selecione", new {@class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(j => j.Jogo.Genero)
        @Html.DropDownListFor(j => j.Jogo.GeneroId, Model.Generos, new {@class = "form-control" })
    </div>

    @MyHelper.CriarSubmit("Editar", "btn btn-primary")
    @Html.ActionLink("Cancelar", "Listar", "Jogo", new {@class = "btn btn-danger" })

}
